
<div class="w-center">
<%= form_for(@forecasting) do |f| %>
  <% if @forecasting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forecasting.errors.count, "error") %> prohibited this forecasting from being saved:</h2>

      <ul>
      <% @forecasting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- <div class="field">
   
    <%= f.text_field :latitude %>
    <%= f.text_field :longitude %>

  </div>
   <div class="actions">
     <%= f.submit  :id=> "btn_submit"%>
    </div> -->


 <!--  <%= link_to "Forecast", forecast_path(:lat=>12,:lng=>21), :method=> :get,  :remote => true %>  -->
  <div class="field">
   
    <%= f.text_field :name, :id=>'address', :placeholder=>"enter an address or postal code", :class=>'typeahead', :autofocus=>"autofocus"%>
  </div>
 <pre class="response" id="response1"></pre>
      
 <pre class="response" id="forecast"></pre>
  
<% end %>




 </div>